<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<main role="main">

  <!-- <app-dashboard></app-dashboard> -->
  <router-outlet></router-outlet>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      <a href="https://store.urbanintellectuals.com/shop/black-history-flashcards-vol-1/" >Urban Intellectuals</a>
    </p>
    <!-- <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p> -->
  </div>
</footer>

