<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Black History Flash Cards</h1>
    <p class="lead text-muted">To the many untold stories, achievements, and unknown people that have given shape, color, and definition to the worlds of academia, science, civil rights, business, the arts, and more.</p>
    <!-- <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p> -->
  </div>
</section>

<app-flash-card-album [flashCards]=flashCards></app-flash-card-album>

<div class="album text-muted">
  <div class="container">
    <div class="row">
      <!-- <div class="card-columns"> -->
          <div class="card" *ngFor="let flashCard of flashCards">
            <div *ngIf="flashCard.imageSrc">
            <img *ngIf="!flashCard.imageSrc" src="http://via.placeholder.com/280/ad240f/ffffff?text={{flashCard.title}}" class="card-img-top" alt="Card image cap">
            <!-- <img *ngIf="flashCard.imageSrc"  src="{{flashCard.imageSrc}}" class="card-img-top" alt="Card image cap"> -->
            <a routerLink="/flash-cards/{{flashCard.id}}">
              <img *ngIf="flashCard.imageSrc"  src="{{flashCard.imageSrc}}" class="card-img-top" alt="Card image cap">
            </a>
            <!-- <p class="card-text">{{flashCard.title}}</p> -->
            <div class="card-body">
              <h5 class="card-title">{{flashCard.title}}</h5>
              <p class="card-text">{{flashCard.subtitle}}</p>
            <!-- <ul class="list-group "> -->
            <!-- <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let fact of flashCard.facts">{{fact}}</li>
            </ul> -->
          </div>
            <!-- <div class="card-footer">
              <small class="text-muted">woot </small>
            </div> -->
          </div>
        </div>
    <!-- </div> -->
    </div>
  </div>
</div>